h4
{
    display: inline;
}
#container
{
    box-align: center;
    margin: 10px;
    padding: 10px; 
    border: 1px solid black;
    width: 90%;
}
a{
    text-decoration: wavy;
}
ul.a {list-style-type: circle;}
ul.b {list-style-type: square;}
